asgiref
certifi
charset-normalizer
crispy-bootstrap5
dj-database-url
Django
django-crispy-forms
django-debug-toolbar
django-environ
django-filter
django-js-asset
django-mptt
django-utils-six
djangorestframework
idna
Markdown
pillow
psycopg2-binary
pytz
requests
sqlparse
stripe
typing_extensions
tzdata
urllib3