{% extends 'base.html' %} 
{% load static %} 
{% load humanize %}
{% block head_title %} My Basket {% endblock %}
{% block content %} 
<div class="container">
  <div class="login d-flex align-items-center">
    <div class="col-12 col-md-12 col-lg-12 <div class="col-12 mx-auto">
      <h1 class="h3">My Basket</h1>
      <div>Manage your Basket</div>
      <hr />
      {% if user_purchases %}
      {% for i in user_purchases  %}
      <div class="card mb-3 rounded-0">
        <div class="row g-0">
          <div class="col-md-2">
              <img class="img-fluid d-block p-2" width="135px" src="{{ i.product.image.url }}"
                alt="{{ image.image.alt_text }}" />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{{i.product.title}}</h5>
              <p class="card-text">{{i.product.description}}</p>
              <p class="card-text">Color : {{i.product.color}}</p>
              <p class="card-text">Category : {{i.product.category}}</p>
              <p class="card-text">Size : {{i.product.size}}</p>
              <p class="card-text"><small class="text-muted">£ {{i.product.price}}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p class="card-text">No products have been added to your Basket yet</p>
      {% endif %}
    </div>
    </div>
  </div>
</div>
{% endblock %}